body {
  margin: 0;
  background-color: #edeef0;
  font-family: Tahoma, Verdana, sans-serif;
  display:flex;
  flex-direction: column;
  justify-content:center;

}
.background {

  background-image: url(./../image/background.jpg);
  display: flex;
  justify-content: center;

}
.headder {
  display: flex;
  justify-content: space-between;
}

.container {

  background-color: #ffffff;
  box-shadow: 0 0 1em black;
  max-width: 1000px;
  max-height: 990px;

}

div.contacts_inform {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
  line-height: 1.5;
  margin-top: 10px;
  margin-right: 35px;
  height: 165px;

}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

ul.countries {
  margin: 0;
}


.title {
  font-size: 13px;
  text-shadow: -2px 0px 1px rgba(18, 138, 167, 0.21);
  margin-right: 26px;

}
.text {
  font-size: 10px;
  text-decoration: underline;

}

header, div.item a {
  color: #128aa7;
  text-decoration: none;
}
.countries a {
  color: #128aa7;
}

.hidden_menu a {
  display: none;
}

.icon-Shri-Lanka {
  background-image: url(./../image/sprite.png);
  background-position: 0px 0px;
  width: 42px;
  height: 42px;
}
.icon-Tibet {
  background-image: url(./../image/sprite.png);
  background-position: -42px 0px;
  width: 42px;
  height: 42px;
}
.icon-bhutan {
  background-image: url(./../image/sprite.png);
  background-position: 0px -42px;
  width: 42px;
  height: 42px;
}
.icon-india {
  background-image: url(./../image/sprite.png);
  background-position: -42px -42px;
  width: 42px;
  height: 42px;
}
.icon-maldives {
  background-image: url(./../image/sprite.png);
  background-position: -84px 0px;
  width: 42px;
  height: 42px;
}
.icon-nepal {
  background-image: url(./../image/sprite.png);
  background-position: -84px -42px;
  width: 42px;
  height: 42px;
}

.drop_down:hover .hidden_menu a {
   display: flex;
}
.countries {
  display: flex;

}

main {
  display: inline-flex;
}
.text_inform {
  color: #424c43;
}
p, h1, div.inform_left, div.inform_right {
  display: flex;
  width: 210px;

}
h1 {
  font-size: 18pt;
}

.countries li {
  list-style: none;
  font-size: 10px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.logo_box {
  margin: 0;
  background-image: url(./../image/logo.png);
  background-repeat: no-repeat;
}

div.logo_box  {
  margin: 0;
  height: 165px;
  width: 285px;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 27px;
}
p.blue-text {
  padding-top: 95px;
  padding-left: 70px;
  font-size: 12px;


}
