body {
  margin: 0;
  background-color: #edeef0;
  font-family: Tahoma, Verdana, sans-serif;

}
.background {

  background-image: url(./../image/background.jpg);
  margin: auto;
  width: 1280px;
  height: 1060px;
  display: flex;
  justify-content: center;

}

.container {
  background-color: #ffffff;
  max-width: 1000px;
  max-height: 990px;

}
header, .contacts_inform a, .countries a {
  color: #128aa7;
  text-decoration: none;
}

.main_menu li, .countries  li{
  display: inline-flex;

}

.hidden_menu a{
  display: none;

}


.icon-Shri-Lanka {
  background-image: url(./../image/sprite.png);
  background-position: 0px 0px;
  width: 42px;
  height: 42px;
}
.icon-Tibet {
  background-image: url(./../image/sprite.png);
  background-position: -42px 0px;
  width: 42px;
  height: 42px;
}
.icon-bhutan {
  background-image: url(./../image/sprite.png);
  background-position: 0px -42px;
  width: 42px;
  height: 42px;
}
.icon-india {
  background-image: url(./../image/sprite.png);
  background-position: -42px -42px;
  width: 42px;
  height: 42px;
}
.icon-maldives {
  background-image: url(./../image/sprite.png);
  background-position: -84px 0px;
  width: 42px;
  height: 42px;
}
.icon-nepal {
  background-image: url(./../image/sprite.png);
  background-position: -84px -42px;
  width: 42px;
  height: 42px;
}

 .drop_down:hover .hidden_menu a {
   display: flex;
}

main {
  display: inline-flex;
}
.text_inform {
  color: #424c43;
}
p, h1, div.inform_left, div.inform_right {
  display: flex;
  width: 210px;

}
h1 {
  font-size: 18pt;
}
